@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}

.rounded-25 {
    border-radius: 25% !important;
}

.squircle {
    background: var(--color-lighter-dark);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: border-radius 128ms, background 128ms, color 128ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squircle:hover {
    border-radius: 36%;
}

.squircle:hover::before {
    transform: translate(-100%, -50%) scale(.5);
}

.squircle::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--color-full-white);
    position: absolute;
    border-radius: 5px;
    top: 50%;
    transform: translate(-100%, -50%) scale(0);
    transition: transform 180ms;
}


.server-card-body {
    padding: 0 20px 20px 20px;
}

.server-card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.server-icon {
    width: 64px;
    height: 64px;
}

.card-icon {
    width: 64px;
    height: 64px;
}

.outline {
    --outline-padding: 1rem;
    position: relative;
    padding: var(--outline-padding);
    margin: 0 -1.5rem 0rem;
    border: solid var(--bs-border-color);
    border-width: 1px 0
}

@media (min-width: 768px) {
    .outline {
        --outline-padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-radius: var(--bs-border-radius);
    }
}

.clickable {
    cursor: pointer;
}